.hidden {
    display: none;
}
.list-wrapper {
    width: 100%;
}
.list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.card {
    background-color: cyan;
    height: 190px;
    width: 125px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid 1px rgb(26, 150, 150);
    color: white;
    text-align: center;
}
.card-reverse {
    background-color: whitesmoke;
    height: 190px;
    width: 125px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid 1px black;
    text-align: center;
}
.match {
    background-color: black;
}
