<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Busca las parejas</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="main-wrapper">
    <form action="" method="POST">
      <input class="input" id="radio4" type="radio" name="numberofcards" value="4">4
      <input class="input" id="radio6" type="radio" name="numberofcards" value="6">6
      <input class="input" id="radio8" type="radio" name="numberofcards" value="8">8
      <input id="button" type="button" value="button">
    </form>
    <div class="list-wrapper">
      <div id="list"></div>
    </div>
  </div>
  <script src="./assets/js/main.js"></script>
</body>

</html>